/* Global ====================================== START */
	* {
		margin: 0;
		padding: 0;
	}

	.hidden {
		display: none !important;
	}
/* Global ====================================== END */

/* main_image ====================================== START */
	#main_image {
		height: 470px;
		padding: 60px;
	}

	#main_image .mz-figure {
		height: 560px;
	}

	#main_image img {
		position: absolute;
		width: 100%;
		left: 0px;
	}

	#main_image .wrap {
		width: 100%;
		position: relative;
	}

	.build-your-own .build-content #main_image {
	  float: left;
	  width: 440px;
	  border: 1px solid #e7e7e7;
	  text-align: center;
	  padding-bottom: 40px;
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
	}

	.views {
		margin-top: 520px;
		position: relative;
		margin-left: -30px;
		width: 500px;
	}

	.views a {
		position: relative;
		display: inline-block;
		width: 92px;
		height: 100px;
		border: 1px solid #e7e7e7;
		overflow: hidden;
	}

	.views a img {
		position: absolute;
		left: 0px;
	}

	.views a img,
	.build-your-own .build-content #main_image .mz-thumb img {
		margin-top: 5px;
		box-shadow: none;
	}

	.views a.active {
		border: 1px solid #e6c673;
	}

	.build-your-own .build-content #main_image a[data-zoom-id] img,
	.build-your-own .build-content #main_image .mz-thumb img {
		box-shadow: none;
		border: 1px solid #e7e7e7;
	}

	.build-your-own .build-content #main_image a[data-zoom-id] img:hover,
	.build-your-own .build-content #main_image .mz-thumb img:hover {
		filter: brightness(97%);
	}

	.build-your-own .build-content #main_image .mz-thumb-selected.mz-thumb img {
		border: 1px solid #e6c673;
		filter: brightness(100%);
	}

	.build-your-own .build-content .views .mz-thumb {
		margin: 0px 3px;
	}

	.views .ring_base img {
		width: 90px;
	}

	#main_image .views .side img.pearl {
		width: 100px;
		margin-top: 2px;
		left: -4px;
	}

	#main_image .views .lay img.pearl {
		width: 120px;
		margin-top: -19px;
		left: -12px;
	}

	#main_image .views .top img.pearl {
		width: 120px;
		margin-top: -3px;
		left: -15px;
	}

	#main_image #main_image.side img#pearl {
		width:  500px;
		left:  -29px;
		top:  -20px;
	}

	#main_image.lay img#pearl {
		width:  600px;
		left:  -68px;
		top:  -125px;
	}

	#main_image.front img#pearl {
	}

	#main_image.top img#pearl {
		width:  543px;
		left:  -51px;
		top:  -35px;
	}
/* main_image ====================================== END */

/* 360 View ====================================== START */
	.tmp_front_360,
	.tmp_back_360 {
		z-index: 555;
		height: 440px;
		width: 440px !important;
		margin-left: 60px;
	}

	.box-btn-360 {
		position: relative;
	}

	.btn-360-action-cover {
		position: relative;
		z-index: 9000;
		border: 1px solid #fff;
		margin-top: -166px;
		float: right;
		width: 50px;
	}

	.box-btn-360 .btn-360-action img {
		border: none !important;
	}

	.box-btn-360 .btn-360-action img {
		width: 38px !important;
	}

	.box-btn-360 .view-link.active~a {
		display: block !important;
	}

	.box-btn-360 .view-link~a {
		display: none !important;
	}

	.btn-360-action-cover .btn-360-action {
		position: absolute !important;
		background: #f1f1f0;
		width: 50px !important;
		height: 40px;
		border: 1px solid #fff;
	}

	.btn-360-action-cover .btn-360-action img {
		margin-left: 4px;
	}

	.btn-360-action-cover .btn-360-action.active {
		display: none;
	}

	.btn-360-action:hover {
		border: 1px solid #e6c673;
	}
/* 360 View ====================================== END */

/* Ring Style ====================================== START */
	.wrapper_ring_style .ring_image,
	.wrapper_ring_substyle .ring_image {
		height: 110px;
	}

	.option_ring_style img.pearl,
	.option_ring_substyle img.pearl {
		left: 90px;
		top: 10px;
		max-width: 40px;
	}

	.option_ring_substyle img.pearl {
		left: 49px;
		top: 10px;
		max-width: 40px;
	}

	.option_ring_style img.ring,
	.option_ring_substyle img.ring {
		top: 5px;
	}

	.option-list .wrapper_ring_style a.item .image.thumb,
	.option-list .wrapper_ring_substyle a.item .image.thumb {
		position: absolute;
		max-width: 120px;
		max-height: 120px;
		margin-left: -58px;
	}
/* Ring Style ====================================== END */

.btn-action,
.page1_link,
.page2_link {
	cursor: pointer;
}

.pearlsize1 {
	height: 22px;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

.pearlsize2 {
	height: 26px;
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

.pearlsize3 {
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.progressBg,
.progressBar {
	display: none;
}

img.around {
	width: 100%;
}

.zoomWindowContainer img {
	position: absolute;
}

.sl-image img {
	position: absolute;
}

.sl-image div {
	position: absolute;
	color: #e6c673 !important;
	background-color: transparent !important;
	top: 1px;
	left: 5px !important;
	font-style: italic;
	height: 25px;
	font-size: 20px;
	width: 500px;
	font-family: 'Playfair Display', Arial;
	font-weight: 400;
	text-shadow: 1px 1px 0px black;
}

.item .ring_image {
	margin-top: -10px;
	margin-bottom: 10px;
}

.wrapper_pearl_color {
	height: 100px;
}
