@media only screen and (max-width: 1240px) {
    .container {;
        background: #0F0;
        width: inherit;
        margin: 0 auto;
    }

    .build-your-own .build-steps .step {
        width: 31%;
        padding: 8px 0px 7px 8px;
    }

    .build-your-own .build-steps .step.last {
        width: 28%;
    }

    .build-your-own .build-steps .separator {
        width: 24px;
        background-position-x: right;
        height: 64px;
    }

    .build-your-own .build-steps .separator.active-left {
        background-position-x: right;
    }

    .build-your-own .build-steps .step .number {
        margin-right: 6px;
        font-size: 40px;
    }

    .build-your-own .build-steps .step .name .title {
        font-size: 13px;
    }

    .build-your-own .build-content {
        padding: 38px 5px;
        text-align: center;
    }

    .build-your-own .build-content .left_bar {
        float: left;
        width: calc(100% - 350px);
        margin-right: 22px;
    }

    .build-your-own .build-content .left_bar #main_image {
        margin:  0 auto;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        max-width: 500px;
    }

    .build-your-own .build-content .options {
        width: 320px;
        display: inline-block;
        vertical-align: top;
        float: none;
        text-align: start;
    }

    .option-list a.item {
        padding: 12px 6px;
    }

    .option-list.four a.item {
        width:  100px;
    }

    .option-list.two a.item {
        width: 156px;
    }

    .option-list.three a.item {
        width: 156px;
    }

    .build-your-own .build-content .options .actions .btn {
        padding:  12px 13px;
    }


    /* STEP 2 Start ================================*/
    .views {
        width: 100%;
    }

    .views a img {
        width: 100%;
    }

    .option_ring_style img.pearl, .option_ring_substyle img.pearl {
        left: 50px;
    }

    .option_ring_style .image {
        left: 11px;
    }


    /* STEP 3 Start ================================*/
    .btn-wishlist, .btn-cart {
        display: block;
        width: 182px;
        margin-bottom: 14px;
    }
}

@media only screen and (max-width: 740px) {
    .container {
        background: #F00;
    }

    .build-your-own .page-title h1 {
        font-size:  28px;
        margin-bottom: 18px;
    }

    .build-your-own .build-steps .step {
        width: 31%;
        padding: 7px 0px 5px;
    }

    .build-your-own .build-steps .step.first {
        padding-left: 5px;
    }

    .build-your-own .build-steps .step .number {
        font-size: 26px;
        font-weight: bold;
        margin-right: 6px;
    }

    .build-your-own .build-steps .step .name .title {
        font-size: 9px;
    }

    .build-your-own .build-steps .separator {
        height: 60px;
        width: 24px;
        background-position-x: right;
    }

    .build-your-own .build-steps .separator.active-left {
        background-position-x: right;
    }

    .build-your-own .build-content {
        padding: 35px 6px;
    }

    .build-your-own .build-content .left_bar {
        float: left;
        width: calc(100% - 266px);
        margin-right: 12px;
    }

    .build-your-own .build-content #main_image {
        width: 25%;
        margin-right: 3vw;
    }

    .build-your-own .build-content .options {
        width: 254px;
    }

    .build-your-own .build-content .options h2 {
        font-size: 23px;
        padding-bottom: 14px;
    }

     .option-list.four a.item {
        width: 82px;
        height: 90px;
    }

    .option-list a.item {
        padding: 12px 3px;
        margin: 0px 3px 8px 0px;
    }

    .option-list a.item .check {
        max-width: 32px;
    }

     .option-list a.item .label {
        font-size: 13px;
        line-height: 14px;
    }

    .option-list a.item .price-from {
        font-size: 11px;
        line-height: 11px;
    }


    /* STEP 2 Start ================================*/
    .views a {
        width: 77px;
        height: 92px;
    }

    .option-list.two a.item {
        width: 125px;
    }

    .option-list.three a.item {
        width: 125px;
    }

    .option_ring_style .image {
        left: 5px;
    }

    .option_ring_substyle .image {
        left: 5px;
    }

    .option_ring_style img.pearl, .option_ring_substyle img.pearl {
        left: 44px;
    }


    /* STEP 3 Start ================================*/
    .build-your-own .build-content .share ul.social a span.icon {
        width: 20px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        background: #00F;
    }

    .build-your-own .build-content {
        padding: 22px 6px 26px;
    }

    .build-your-own .page-title h1 {
        font-size:  18px;
        margin-bottom: 8px;
    }

    .build-your-own .build-steps .step, .build-your-own .build-steps .step.last {
        width:  40px;
    }

    .build-your-own .build-steps .step .name .title {
        display: none;
        font-size: 12px;
    }

    .build-your-own .build-steps .step.active {
        width: 60%;
    }

    .build-your-own .build-steps .step.active .name .title {
        display: block;
    }

    .build-your-own .build-steps .step.inactive .name .title {
        display: none;
    }

    .build-your-own .build-content .left_bar {
        width: calc(100% - 161px);
        margin-right: 8px;
    }

    .build-your-own .build-content .left_bar #main_image {
        margin:  0 auto;
        padding: 0;
        width: 100%;
        height: 330px;
    }

    .build-your-own .build-content .options {
        width: 152px;
    }

    .build-your-own .build-content .options h2 {
        font-size: 14px;
        padding-bottom: 8px;
    }

    .option-list a.item {
        padding: 12px 3px;
        margin-right: 3px;
    }

    .option-list.four a.item {
        width: 74px;
    }

    .option-list.three a.item {
        width: 74px;
    }

    .build-your-own .build-content .options .actions .btn {
        margin-right: 2px;
        padding: 4px 6px;
    }

    .build-your-own .build-content .options .actions .btn span {
        font-size: 11px;
    }


    /* STEP 2 Start ================================*/
    .views a {
        width: 68px;
        height: 84px;
    }

    .option-list.two a.item {
        width: 74px;
    }

    .option-list a.item .label {
        height: 28px;
    }

    .option_ring_style img.pearl, .option_ring_substyle img.pearl {
        left: 20px;
    }

    .option-list .ring_image .image {
        max-height: 100px !important;
    }

    .option_ring_style img.pearl {
        max-width: 30px;
    }

    .option_ring_style .image {
        left: -14px;
    }

    .option_ring_substyle img.pearl {
        max-width: 30px;
    }

    .option_ring_substyle .image {
        left: -14px;
    }


    /* STEP 3 Start ================================*/
    .build-your-own .build-content .share ul.social a span.icon {
        width: 12px;
    }

    .btn-wishlist, .btn-cart {
        width: 132px;
        text-align: center;
    }

    .build-your-own .build-content .options .summary {
        font-size:  13px;
    }

    .shorten {
        display: none;
    }

    .build-your-own .build-steps .step .name a {
        margin-top: -36px;
        margin-left: 14px;
    }
}

@media only screen and (max-width: 340px){
    .container {
        background: #F0F;
    }

    .build-your-own .page-title h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .build-your-own .build-steps .step {
        width: 100%;
        padding: 0;
        padding-left: 5%;
        border-bottom: 1px solid #aaaaaa;
    }

    .build-your-own .build-steps .step.active {
        width: 100%;
    }

    .build-your-own .build-steps .step.last {
        width: 100%;
    }

    .build-your-own .build-steps .step .name .title, .build-your-own .build-steps .step.inactive .name .title {
        display: block;
    }

    .build-your-own .build-steps .separator {
        display: none;
    }

    .build-your-own .build-content .left_bar {
        width: 100%;
        margin-right: 0px;
    }

    .build-your-own .build-content #main_image {
        background:  white;
        z-index: 10;
        width: 96%;
        margin:  0 auto;
    }

    .build-your-own .build-content .options {
        width:  98%;
        margin:  0 auto;
    }

    .build-your-own .build-content .options h2 {
        font-size: 14px;
        padding-bottom: 6px;
    }

    .option-list {
        width: 240px;
        margin: 0 auto;
    }

    .option-list.four a.item {
        margin-right: 6px;
    }


    /* STEP 2 Start ================================*/
    .build-your-own .build-content .left_bar #main_image {
        height: 160px;
    }

    #main_image img {
        max-width: 160px;
    }

    .views a {
        width: 42px;
        height: 50px;
    }

    .option-list.two a.item {
        width: 116px;
    }

    .option-list.three a.item {
        width: 116px;
    }

    .item .ring_image {
        margin-bottom: 0;
    }

    .option-list a.item .label {
        height: 14px;
    }

    .option_ring_style img.pearl, .option_ring_substyle img.pearl {
        left: 39px;
    }

    .option_ring_style .image {
        left: 5px;
    }

    .option_ring_substyle .image {
        left: 5px;
    }


    /* STEP 3 Start ================================*/
    .build-your-own .build-steps .step .name a {
        margin-top: initial;
        margin-left: initial;
    }

    .shorten {
        display: initial;
    }

    .build-your-own .build-content #main_image {
        height: 280px;
    }

    .build-your-own .build-content .options .actions .btn {
        margin:  10px auto;
    }

    .build-your-own .build-steps .step .name {
        margin-top:  9px;
    }

    .build-your-own .build-steps .step.active .name {
        margin-top:  initial;
    }

    .build-your-own .build-steps .step.first {
        padding-left:  5%;
    }
}
