/* Global ====================================== START */
  * {
    margin: 0;
    padding: 0;
  }
/* Global ====================================== END */

#page2, #page3 {
	display: none;
}

.btn-action,
.page1_link, .page2_link {
	cursor: pointer;
}

.photo .mz-figure {
	height: 560px;
}
