/* Global ====================================== START */
  * {
    margin: 0;
    padding: 0;
  }

  .hidden {
  	display: none;
  }
/* Global ====================================== END */

#page2, #page3 {
	display: none;
}

.btn-action,
.page1_link, .page2_link {
	cursor: pointer;
}

.photo .mz-figure {
	height: 560px;
}

.pearlsize1 {
	height: 22px;
	margin-top:  4px !important;
	margin-bottom: 4px !important;
}

.pearlsize2 {
	height: 26px;
	margin-top:  2px !important;
	margin-bottom: 2px !important;
}

.pearlsize3 {
	height: 30px;
	margin-top:  0px;
	margin-bottom: 0px;
}

.photo {
	height: 470px;
	padding: 60px;
}

.photo img {
	position: absolute;
	max-width: 430px;
	max-height: 430px;
	margin-left:  -215px;
}

.wrapper_ring_style .ring_image, .wrapper_ring_substyle .ring_image {
	height: 110px;
}

.option-list .wrapper_ring_style a.item  .image.thumb, .option-list .wrapper_ring_substyle a.item  .image.thumb {
	position:  absolute;
	max-width:  120px;
	max-height: 120px;
	margin-left:  -58px;
}
